@import 'variables';

body {

  margin: 0;
  font-family: $font-primary;
  font-weight: $font-regular;

  header {
    width: 100%;
    padding: 15px;
    background-color: $primary-color2;

    .link {
      font-size: 23px;
    }

    img {
      max-width: 200px;
    }

    nav {
      display: flex;
      justify-content: center;

      a {
        color: $color-white;
        font-family: $font-primary;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
  footer {
    background-color: $primary-color3 ;
    text-align: center;
    font-family: $font-primary;
    padding: 15px;
    img {
      width: 150px;
    }
    p {
      color: $color-white;
      margin: 0;
    }
  }
}
