@import "variables";

@mixin rounded-box($background-color, $border-color, $border-radius, $padding) {
  // Styles pour le bloc
  border-radius: $border-radius-medium;
  border: 2px $primary-color2 solid;
  padding: $spacing-medium;
  margin-left: $spacing-tb;
  margin-right: $spacing-tb;
  margin-bottom: $spacing-tb;
  width: 300px;

  // Styles pour l'image
  .rounded-image {
    width: 300px;
  }
}

/* mixins section*/
@mixin background-image($src) {
  background-image: url('#{$src}');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

