@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Couleurs
$primary-color1: #0C4D53;
$primary-color2: #00C9A7;
$primary-color3: #5E807F;
$secondary-color1: #FFEF5B;
$secondary-color2: #15EDA3;
$color-black: #454545;
$color-white: #FFFFFF;

//Fond
$primary-fond1: #B9B8B8;

// Texte
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-mid: 600;

// Espacements
$spacing-lr: 130px;
$spacing-tb: 39px;

// Transition


// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
