@import "../variables";
@import "../main";

.experience-label {
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 20px;
}

.experience-bar {
  display: inline-block;
  width: 80%;
  height: 20px;
  background-color: $primary-color3;
  border-radius: 10px;
  margin-left: 100px;
}

.progress-bar {
  height: 100%;
  background-color: $secondary-color2;
  border-radius: 10px;
  width: 10%;
}

.experience-level {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
}

.informations-section{
  display: flex;
  justify-content: center;
  padding:50px;
}

.editable-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 20px;
}

.editable-info-item {
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  width: 200px;
}

input[type="password"],
input[type="email"] {
  width: 100%;
}

.edit-button{
  background-color: $primary-color2;
  border: none;
  margin-top:50px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 5px;
}
