@import "../main";

main {
  h1 {
    margin: 30px;
  }
  p {
    margin: 0 auto;
    max-width: 1000px;
  }
  .feuille-container {
    background-image: url("/public/tableau_quete2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    a {
      flex-basis:33%;
    }
  }

}