@import "../main";

h1, h2 {
  color: $primary-color1;
  font-family: $font-primary;
  font-weight: $font-regular;
}

strong {
  color:$primary-color2;
  font-family: $font-primary;
  font-weight: $font-bold;
}

p {
  color: $color_black;
  font-weight: $font-regular;
}