@import "../main";

  .h1badges {
    text-align: center;
    margin: 50px;
    @extend %text_light_background;
  }
  #main-badges {
    margin-bottom: 50px;
    @extend %display_flex3;
    flex-wrap: wrap;

    .rounded-box {
      @include rounded-box(#ffffff, #ccc, 10px, 10px);
    }

  }